<!DOCTYPE html>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- Link to table, and to home#form -->
                <li><a href="{% url 'lab-4:index' %}#form">Form</a> </li>
                <li><a href="{% url 'lab-4:result_table' %}">Messages Table</a> </li>
                <li><a href="{% url 'lab-5:index' %}">Lab 5</a> </li>
                <li><a href="{% url 'lab-6:index' %}">Lab 6</a> </li>
                <li><a href="{% url 'lab-7:index' %}">Lab 7</a> </li>
                <li><a href="{% url 'lab-9:index' %}">Lab 9</a> </li>
            </ul>
        </div>
    </div>
</nav>