<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 6">
    <meta name="author" content="{{ author }}">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_6.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.4.1.css">

    <title>
        {% block title %}
            Lab 6 By {{ author }}
        {% endblock %}
    </title>

</head>
<body>
    <div id="qunit" hidden></div>
    <header>
        {% include 'lab_6/partials/header.html' %}
    </header>
    <content>
        {% block content %}
            <!-- content -->
        {% endblock %}
    </content>
    <footer>
        {% block footer %}
            {% include 'lab_6/partials/footer.html' %}
        {% endblock %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/lab_6.js' %}"></script>
    <script src="https://code.jquery.com/qunit/qunit-2.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</body>
</html>