<!DOCTYPE html>
{% extends 'lab_4/layout/base.html' %}

{% block title %}
    Kumpulan Pesan
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <th>Nama</th>
            <th>Email</th>
            <th>Pesan</th>
            <th>Dibuat Pada</th>
        </thead>

        <tbody>
            {% for i in message %}
                {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                    <tr class="warning">
                {% else %}
                    <tr class="success">
                {% endif %}
                <td> {{ i.name }} </td>
                <td> {{ i.email }} </td>
                <td> {{ i.message }} </td>
                <td>
                    {% load tz %}
                        {{ i.created_date|timezone:'Etc/GMT+7' }}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}