<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} : Bio </title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/lab_1.css' %}">
    <h1>Hello my name is {{ name }}</h1>
    <img class="image" src="http://react.semantic-ui.com/images/avatar/large/elliot.jpg" width="400" height="400">
    <article>I am {{ age }} years old</article>
    <article>I'm attending college at {{ kuliah }}</article>
    <article>My hobby is {{ hobby }}</article>
    <article>About me: {{ deskripsi }}</article>
    <a href="{% url 'lab-4:index' %}">Want the real deal? Click this.</a>
</body>
</html>
