{% extends 'lab_7/layout/base.html' %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Teman-Teman Fasilkom</h2>
                    <div id="my-friends" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block Javascript %}
    <script>
        $(document).ready(function() {
            $.ajax({
                method: 'GET',
                url: "{% url 'lab-7:get-friend-list' %}",
                success: function(response) {
                    var friends = response['friends'];
                    friends.forEach(function(friend) {
                        var friendID = friend.id;
                        $('#my-friends').append(
                            '<a class="list-group-item clearfix" ' +
                            'href="{% url 'lab-7:friend-detail' friend_id=1234 %}" target="_blank">'.replace(/1234/, friendID) +
                              friend.friend_name + '</a>');

                        /*.append(
                                  '<button class=delete-button ' + 'id='
                            + friendID + '>Hapus Teman</button>');*/
                    });
                },
                error: function(error) {
                    alert(error.responseText);
                }
            });

            /*$('#my-friends').on('click', '.delete-button', function() {
                var id = $(this).attr('id');
                var url = "{% url 'lab-7:delete-friend' friend_id=1234 %}".replace(/1234/, id);
                $.ajax({
                    method: 'GET',
                    url: url,
                    success: function(data) {
                        $('#my-friends').html(data);
                    },
                    error: function(error) {
                        alert(error.responseText);
                    }
                });
            });*/

        });
    </script>
{% endblock %}