{% extends 'lab_7/layout/base.html' %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Data {{ nama }}</h2>
                    <div id="my-friends" class="list-group">
                        Tanggal Lahir: {{ tgl_lahir }}<br>
                        Alamat: {{ alamat_mhs }}<br>
                        Jurusan: {{ jurusan }}<br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}